//- ./views/index.pug

extends layout
include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel='stylesheet' href='/stylesheets/index.css')
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div(class='navbar-container')
    div(class='navbar')
      div(class='navbar-welcome-title')
        p(class='navbar-header') Welcome to Stack Underflow!

      div(class='navbar-logo')
        img(class='navbar-logo', src='/images/underflowStack.png')

      form(action='/questions', method='post', class='search-bar-container')
        input(type='hidden', name='_csrf', value=csrfToken)
        input(class='search-bar', type='text', name='query', placeholder='🔍')
        button(type='submit', class='search-button') Search

      div(class='login-register-buttons-container')
        div(class= 'login-register-buttons')
          a(href='/login' class='login-signup-btn')
            button(type='submit' class='login-signup-button') Login
        div(class= 'login-register-buttons')
          a(href='/signup' class='login-signup-btn')
            button(type='submit' class='login-signup-button') Signup

  div(class='left-side-bar')
    div(class='left-side-bar-text homepage')
      a(href='/', class='left-side-bar-anchor') Homepage
    div(class='left-side-bar-text github')
      a(href='http://github.com', class='left-side-bar-anchor') Find the underverse

  block display

  div(class='footer')
    div(class='footer-container')
      div(class='footer-contact-info') Contact us:
        a(href='http://github.com/LaTCheatam') Tanya
        a(href='http://github.com/mimike') Mimi
        a(href='http://github.com/whitelotus718') Minhaj
        a(href='http://github.com/grau-maus') Josh
      div(class='footer-appacademy')
        a(href='http://aaonline.io') App Academy
