//- ./views/index.pug

extends layout
include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel='stylesheet' href='/stylesheets/index.css')
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  p Welcome to Stack Underflow
  div(class='navbar-container')
    a(class='navbar-logo', src='/images/logo.png')

    div(class='searchbar-container')
      form(action='/questions', method='post')
        input(type='hidden', name='_csrf', value=csrfToken)
        input(class='search-bar', type='text', name='query', placeholder='🔍')
        button(type='submit', class='search-button') Search

    div(class= 'login-register-buttons')
      a(href='/login' class='login-signup-btn')
        button(type='submit' class='login-button') Login

    div(class= 'login-register-buttons')
      a(href='/signup' class='login-signup-btn')
        button(type='submit' class='signup-button') Signup

    div(class='left-side-bar')
    a(href='/')
      div Homepage
    a(href='http://github.com')
      div Find the underverse

  block display
