//- ./views/layout.pug

doctype html
html
  head
      block head
        title="Stack Underflow"
        link(rel='stylesheet' href='/stylesheets/login.css')
        link(rel='stylesheet' href='/stylesheets/signup.css')
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/view-specific-question.css')
        link(rel='stylesheet' href='/stylesheets/navbar.css')

  body
    block content
