//- ./views/login-form.pug

extends index
include utils.pug

block display
    +validationErrorSummary(errors)
    //- div(class='login-form-container')
    //-     div(class='login-form-contents')
    form(action='/login', class='inputs-container', method='post')
        //- fieldset
        input(type='hidden' name='_csrf' value=csrfToken)
        div(id='login-box' class='login-inputs')

            div(class='email-input-div')
                legend  Email
                input(class='inputs' type='text',  name='email', placeholder='email')

            div(class='passwd-input-div')
                legend  Password
                input(class='inputs' type='password',name='password', placeholder='password')

        div(class='login-btn-div')
            button(type='submit',   class='login') Login

        div(class='demo-login')
            form(action='/demo', class='demo-button', method='post')
                input(type='hidden' name='_csrf' value=csrfToken)
                button(type='submit', class= 'login-register-demo') Demo Login

    div(class='signup-div')
        p: a(href="/signup") Not in the Underflow? Sign up

    footer


























//- //- PLEASE DO NOT TOUCH CODE BELOW ------------------------------------------------------------

//- extends index
//- include utils.pug

//- block display
//-     div(class='login-form-container')
//-         +validationErrorSummary(errors)
//-         form(action='/login', class='login-form', method='post')
//-             legend Log In
//-             input(type='hidden' name='_csrf' value=csrfToken)
//-             input(type='text', name='email', placeholder='email')
//-             input(type='password', name='password', placeholder='password')
//-             div(class='login-register-buttons')
//-                 button(type='submit', class='login') Login
//-         form(action='/demo', class='demo-button', method='post')
//-             input(type='hidden' name='_csrf' value=csrfToken)
//-             button(type='submit', class= 'login-register-demo') Demo User Login

//-         div(class='login-signup-link')
//-             p: a(href="/signup") Not in the Underflow? Sign up

//-     footer

//- //- PLEASE DO NOT TOUCH CODE ABOVE ------------------------------------------------------------
