//- ./views/questions.pug
//- if they arent authenticated user then we'll render page w/o voting or answering, otherwise everything
extends index

block display
   div(class='main-full-container')
      div(class='main-header'): p Top Uber Questions
      div(class='main-container')
         div(class='ask-question-div')
         a(href='/questions/form'): button(type='submit' class="ask-question-button") Ask a Good Question
         div(class='main-page-questions')
            each question in questions
                  div(class='each-question-container')
                     div(class='counter-container')
                        div(class='number-of-votes') 3 votes
                        div(class='number-of-answers')
                           p #{question.Answers.length} answers
                     a(href=`/questions/${question.id}`)
                        div(class='question-text')
                           p #{question.title}
                     div(class='user-name')
                        p asked by #{question.User.username}
