//- ./views/questions.pug

//- if they arent authenticated user then we'll render page w/o voting or answering, otherwise everything

extends index
//- include utils.pug

block display
   //- +validationErrorSummary(errors)
   div(class='question-header') HEADER
    h2(class='question-header-title'): em for #{title}
    a(href='/questions/form')
     div Ask A Question
   div(class='right-side-bar'): p Index of Questions
      ul
         each question in questions
            a(href=`/questions/${question.id}`)
               div(class="single-question-body-container")
                  li #{question.title}
                     div(class='question-body')
                     div Asked: #{question.updatedAt}
