//- ./views/questions-ask-form.pug

extends index

include utils

block display
    div(class="question-form-container")

        div(class="question-form-body")
            div(class="question-form-body-container")
                +validationErrorSummary(errors)
                form(action="/questions/form", method="post", class="question-form-container-form")
                    div(class="question-body-form")
                        input(type="hidden" name="_csrf" value=csrfToken)
                        div(class="ask")
                            h1(class='ask-header header-1') Ask the Underflow!
                        div(class="warning")
                            h3(class='ask-header header-3') WARNING: Your question may suck you under the flow!
                        div(class="question-form-title")
                            h3(class='ask-header header-3') Title
                            p(class='ask-p-tag') Be specfic and imagine you are asking a question to another person
                            input(class='question-form-title', name="questionTitle", type='text', placeholder="Title your ? here")
                        div(class="question-form-body")
                            h4(class='ask-header header-4') Body
                            p(class='ask-p-tag') Include all the information someone would need to answer your question
                            textarea(name="content", placeholder="Ask your question here")
                        div(class="button")
                            button(class="submit-question-button", type="submit") Submit

        div(class="question-form-right-side-bar")
            div(class='question-form-right-side-bar-container')
                h4(class="draft") Step 1: Draft your question.
                p(class='question-form-p-tag') The community is here to help you with specific coding, algorithm, or language problems.
                p(class='question-form-p-tag') Avoid asking opinion-based questions!
                ul(class="draft-ul")
                    li(class='question-form-li') 1. Dont ask dumb questions
                    li(class='question-form-li') 2. There are no dumb questions
                    li(class='question-form-li') 3. Don't be nebulous
