//- ./views/signup-form.pug

extends index
include utils.pug

block display
    div(class='signup-container-container')
        div(id='signup-box' class='signup-form')
            div(class='signup-container-contents')
                +validationErrorSummary(errors)
                form(action='/signup', class='signup-containter-form', method='post')

                    div(id='display-name' class='signup-inputs')
                        legend Display Name
                        input(type= 'text', name='username', placeholder='display name')

                    div(id='signup-email' class='signup-inputs')
                        legend Email
                        input(type= 'text', name='email', placeholder='email')

                    div(id='signup-password' class='signup-inputs')
                        legend Password
                        input(type= 'password', name='password', placeholder='password')

                    div(id='signup-usempapa' class='signup-inputs')
                        legend Confirm Password
                        input(type= 'password' name='confirm-password', placeholder='confirm password')

                    div(class= 'signup-btn-div')
                        input(type='hidden' name='_csrf' value=csrfToken)
                        button(type='submit', class= 'signup-btn-form') Signup

                    div(class='login-msg') Have an account and missed ALL the login links?
                    div(class='login-div')
                        a(href="/login", class='login-div-a-tag') LOGIN

        div(class='snark-box')
            div(class='snark-div')
                h1(class='snark-div-header') Reasons to join the Underflow:
                ul(class='snark-div-header-ul')
                    li(class='snark-div-header-ul-li') Get stuck? Snark a question.
                    li(class='snark-div-header-ul-li') Know a thing? Snipe an answer.
                    li(class='snark-div-header-ul-li') Be an UberCoder.
                    li(class='snark-div-header-ul-li') Unlock new privileges.
                    li(class='snark-div-header-ul-li') Had a rough day and just want to laugh? Join the Underflow and let us take away your troubles.
