h1 {
    color: #555555;
}

/* body {
background-color : #2e3646;

}

.login-form-container {
    display: flex;
    height: 140px;
    max-width: 250px;
    background-color : transparent;
    color: #eff1f3;
    font-weight: 100;
    border-radius : 6px;
}

.login-register-button {
    background-color : #1182d7;

} */
