/* the container for login inputs */
div#login-box.login-inputs {
    display: flex;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    flex-direction: column;
    height: 100vh;
    place-self: center;
    font-family: system-ui;
}

.inputs-container {
    margin-top: 20vh;
    height: 350px;
    width: 350px;
    box-sizing: border-box;
    border: 1px solid #DF553D;
    background-color: #293646;
    color: #eff1f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-inputs-container {
    margin-top: -2vh;
    width: 60%;
    margin-left: -4vw;
}

.inputs {
    width: 200px;
    height: 30px;
    box-shadow: 0px 0px 1px black;
}

/* email container/input */
div.email-input-div {
    padding: 6px;
    margin-left: 27px;
}

/* password container/input */
div.passwd-input-div {
    padding: 6px;
    margin-left: 27px;
}

/* User login button container */
button.login-btn {
    border-radius: 2px;
    background-color: #1182d7;
    color: #eff1f3;
    margin-top: 18px;
    width: 100px;
    height: 30px;
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
    font-weight: 700;
}

button.login-btn:hover {
    background-color: #205C8B;
}

/* User login button */
div.login-btn-div {
    margin-left: 4.3vw;
}


/* demo user container  */
div.demo-login{
    display: flex;
    color: #eff1f3;
    margin-left: 55px;
}

.demo-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* demo user login button */
button.login-register-demo {
    margin-top: 10px;
    width: 60%;
    height: 40px;
    background-color: #DF553D;
    color: #eff1f3;
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
    font-weight: 700;
}

button.login-register-demo:hover {
    background-color: #844642;
}

/* signup message */
.signup-msg {
    margin-top: 2vh;
    font-size: 1rem;
    color: #DF553D;
}

/* signup link */
div.signup-div {
    display: flex;
    justify-content: center;
    color: #eff1f3;
    font-size: 13px;
    margin-top: -1.6vh;
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-div-a-tag {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.signup-div-a-tag:hover {
    color: #8C949D;
}

.inputs-container > .alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -56vh;
    position: absolute;
    color: red;
}

.inputs-container > .alert > p {
    margin: 0px;
    font-weight: 500;
    font-size: 2rem;
}
