/* ENTIRE CONTAINER */
.main-full-container {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #2E363E;
    display: flex;
    flex-direction: column;
    font-family: system-ui;
    align-items: center;
    width: 100%;
    margin-left: 8vw;
    min-height: 100vh;
}

/* TITLE */
.main-header p {
    color: #EFF1F3;
    font-size: 25px;
    margin: 15px;
}

/* DIV CONTAINING ALL QUESTIONS */
.main-container {
    display: flex;
    flex-direction: column;
    color: #EFF1F3;
}

/* QUESTION LINK A TAGS */
.each-question-container a {
    text-decoration: none;
    order: 2;
}

.each-question-container a:hover {
    background-color: #274965;
}

/* ASK QUESTION BUTTON CONTAINER / A TAG */
.ask-question-div + a {
    align-self: center;
}

/* ASK BUTTON */
.ask-question-button {
    background-color: #FED766;
    font-weight: bold;
    margin-left: 20px;
    border-radius: 10px;
    color: #2E363E;
    width: 190px;
    height: 30px;
    margin-left: 15px;
    cursor: pointer;
}

/* ASK BUTTON ON HOVER */
.ask-question-button:hover {
    background-color: #CAAF5C;
}

/* SINGLE QUESTION CONTAINER */
.each-question-container{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #DF553D;
    margin: 5px;
    justify-content: space-between;
    min-width: 860px;
}

.counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1;
    margin-right: 40px;
    justify-content: space-around;
}

.number-of-votes{
    color: #DF553D;
    order: 1;
}

.number-of-answers {
    order: 2;
    color: #DF553D;
}

/* P TAG # OF ANSWERS */
div.number-of-answers > p {
    margin: 0px;
}

.question-text {
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 511px;
    min-width: 511px;
    order: 2;
    margin-right: 10px;
    padding: 15px;
    font-weight: 500;
}

.user-name {
    color: #88C1EB;
    display: block;
    max-height: 83px;
    order: 3;
    margin-left: 10px;
    padding: 15px;
}

.user-name p {
    align-items: right;
}
