.question-form-container {
    grid-area: 2 / 2 / 3 / 4;
    color: #EFF1F3;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 120vh;
    font-family: system-ui;
}

.question-form-container-form {
    margin-top: 10vh;
    background-color: #293646;
    border: 1px solid #DF553D;
    box-shadow: 0px 0px 10px #14161a;
    height: 100%;
    width: 500px;
}

.question-form-right-side-bar {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.question-form-right-side-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -40vh;
    border: 1px solid #DF553D;
    background-color: #293646;
    box-shadow: 0px 0px 10px #14161a;
    border-radius: 4px;
    height: 300px;
    width: 500px;
}

div.ask {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
    padding-left: 17px;
}

.question-body-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:  #C5C6C7;
    border-radius: 10px;
}

.submit-question-button {
    color: #eff1f3;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 90px;
    height: 35px;
    border-radius: 5px;
    background-color: #1182d7;
    cursor: pointer;
    box-shadow: 0px 0px 5px black;
}

.submit-question-button:hover {
    background-color: #205C8B;
}

.right-side-bar_form {
    text-align: left;
}

.side-bar-head h4 {
    padding-left: 15px;
    padding-right: 15px;
}

.question-form-right-side-bar h4{
    font-size: 2rem;
    font-weight: 600;
    color: #88C1EB;
}

.draft-ul {
    margin-left: -225px;
}

.draft-ul > li{
    list-style-type: none;
}

.question-form-right-side-bar p{
    width: 450px;
    font-size: 16px;
}

.ask-header {
    font-size: 1.3rem;
    font-weight: 500;
    color: #88C1EB;
}

.question-form-title {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.question-form-title > input {
    height: 40px;
    box-shadow: 0px 0px 4px black;
}

.question-form-body {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 400px;
}

.question-form-body > textarea {
    height: 200px;
    box-shadow: 0px 0px 9px black;
}

.warning {
    text-align: center;
    width: 90%;
}

.question-form-body-container > .alert {
    display: flex;
    z-index: 3;
    flex-direction: column;
    align-items: center;
    position: absolute;
    color: red;
    background-color: #293646;
    border: 1px solid #f95738;
    width: 800px;
    box-shadow: 0px 0px 10px black;
    animation: hide 4s forwards;
}

/* THIS HIDES THE ALERT AFTER THE TIME SPECIFIED ABOVE */
@keyframes hide {
    0% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}

.question-form-body-container > .alert > p {
    margin: 0px;
    font-weight: 500;
    font-size: 2rem;
}

.question-form-body-container > .alert > ul > li {
    margin-left: 2vw;
}
