/* please do not write any rules for the html body */
/* body {
    display: flexbox;
    max-width: 1250px;
} */

div.signup-inputs {
    box-sizing: border-box;
    width: 25%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    background-color: #293646;
    color: #eff1f3;
    position: relative;
    /* justify-content: center; */
}

div.login-div {
    width: 15%;
    display : flex;
    justify-content: center;
    margin-left: 500px;
    color: #eff1f3;
    font-size: xx-small;
}
