.signup-container-container {
    grid-area: 2 / 2 / 3 / 4;
    display: flex;
    flex-direction: row;
    height: 100vh;
    font-family: system-ui;
}

/* the signup form */
div#signup-box.signup-form {
    margin-left: 2vw;
    margin-top: 15vh;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    border: 1px solid #f95738;
    background-color: #293646;
    box-shadow: 0px 0px 10px black;
}

.signup-container-contents {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

/* the inputs */
div.signup-inputs {
    color: #eff1f3;
    padding: 7px;
    font-size: 1rem;
}

#display-name > input,
#signup-email > input,
#signup-password > input,
#signup-usempapa > input {
    width: 200px;
    height: 30px;
    box-shadow: 0px 0px 1px black;
}

/* the signup button */
div.signup-btn-div {
    margin-left: 2.9vw;
    margin-top: 0.5vh;
}

button.signup-btn-form {
    cursor: pointer;
    width: 100px;
    height: 30px;
    color: #eff1f3;
    font-weight: 500;
    background-color: #1182d7;
    box-shadow: 0px 0px 5px black;
}

button.signup-btn-form:hover {
    background-color: #205C8B;
}

div.signup-btn-form {
    background-color: #1182d7;
    align-content: center;
}

/* the login */
div.login-div {
    margin-left: 4vw;
    color: #eff1f3;
    font-size: 7px;
}

.login-div-a-tag {
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    font-weight: 600;
}

.login-div-a-tag:hover {
    color: #8C949D;
}

div.login-msg {
    margin-top: 4vh;
    margin-left: 0.5vw;
    display: flex;
    color: #88C1EB;
    font-size: xx-small;
}

/* talking snark */
div.snark-box {
    display: flex;
    width: 1000px;
    height: 500px;
    margin-top: 15vh;
    margin-left: 2vw;
    align-items: center;
    justify-content: center;
    border: 1px solid #f95738;
    background-color: #293646;
    color: #eff1f3;
    box-shadow: 0px 0px 10px black;
}

.snark-div-header {
    margin-left: -1vw;
    padding-bottom: 11px;
    text-decoration: underline;
    color: #88C1EB;
}

.snark-div-header-ul-li {
    padding: 10px;
}

.signup-container-contents > .alert {
    display: flex;
    z-index: 3;
    flex-direction: column;
    align-items: center;
    margin-top: -700px;
    margin-left: 200px;
    position: absolute;
    color: red;
    background-color: #293646;
    border: 1px solid #f95738;
    width: 800px;
    box-shadow: 0px 0px 10px black;
    animation: hide 4s forwards;
}

/* THIS HIDES THE ALERT AFTER THE TIME SPECIFIED ABOVE */
@keyframes hide {
    0% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}

.signup-container-contents > .alert > p {
    margin: 0px;
    font-weight: 500;
    font-size: 2rem;
}

.signup-container-contents > .alert > ul > li {
    margin-left: 2vw;
}
