/* the right side bar and the question answers body */
.full-container {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    min-width: 100vw;
    font-family: system-ui;
}

.question-body-container {
    background-color: #2e363e;
    order: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 1000px;
    border-right: 1px solid #63696F;
}

.single-question-header-container {
    margin: 20px;
}

.single-question-right-bar-container {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 7vw;
}

.right-side-bar-content {
    display: flex;
    flex-direction: column;
}

.listed-question-body {
    height: 50px;
}

.right-side-bar-a-tag {
    text-decoration: none;
    color: #88C1EB;
    margin: 20px;
}

.right-side-bar-a-tag:hover {
    color: #FCFCFC;
}

.right-side-bar-title {
    margin-top: 15px;
    font-size: 2rem;
    color: #FCFCFC;
    margin-bottom: 20px;
}

/* this is the question body CONTAINER */
.title {
    margin-bottom: 10px;
    color: #FCFCFC;
    padding-left: 20px;
}

.asked {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #63696F;
    order: 1;
    color: #88C1EB;
}

.asked h2 {
    padding-left: 25px;
    font-weight: 500;
}

.question-body-content {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    margin: 20px;
    order: 2;
}

.question-body-answer-form {
    padding-top: 10px;
    margin: 10px;
    padding-bottom: 10px;
    order: 3;
}

.single-question-answers-container {
    order: 2;
}

.question-body-answers {
    border-top: 1px solid #63696F;
    padding-bottom: 10px;
    order: 5;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding-bottom: 10px;
    order: 4;
    justify-content: center;
    align-items: center;
}

.question-body-content form {
    color: #DF553D;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
}

div.single-question-downvote-count {
    font-size: 1.1rem;
    font-weight: 500;
    margin-right: 3px;
    width: 30px;
    text-align: center;
}

div.single-question-downvote-count-0 {
    font-size: 1.1rem;
    font-weight: 500;
    margin-right: -1px;
    width: 30px;
    text-align: center;
}

.question-body-content div p {
    color: #FCFCFC;
    font-weight: 300;
    padding-left: 15px;
}


.question-body-answer-form div {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.question-body-answer-form label {
    order: 1;
    color: white;
    padding-bottom: 15px;
    padding-left: 5px;
}

.question-body-answer-form textarea {
    order: 2;
    height: 170px;
    width: 700px;
}

.question-body-answer-form button {
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 20px;
    background-color: #FED766;
    color: #2E363E;
    width: 135px;
    border-radius: 5px;
    order: 3;
    font-weight: 600;
}

.question-body-answer-form button:hover {
    background-color: #CAAF5C;
    cursor: pointer;
}

textarea.single-question-answer-input {
    box-shadow: 1px 1px 2px black;
    border: 2px solid black;
}

.number-answers {
    color: #CBCDCF;
    font-size: 20px;
    order: 4;
    margin-left: 25px;
    margin-top: 50px;
}

.single-answer-vote-form {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2F92DC;
}

.single-question-upvote-count {
    padding: 0px;
    margin: 0px;
    font-size: 1.1rem;
    font-weight: bold;
    width: 30px;
    text-align: center;
}

.single-question-upvote-count-0 {
    padding: 0px;
    margin: 0px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: 1.6px;
    width: 30px;
    text-align: center;
}

.each-answer {
    align-self: flex-start;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.each-answer p {
    color: #FCFCFC;
    font-weight: 200;
}

.question-body-answers .answer {
    border-bottom: 1px solid #63696F;
}

.single-question-right-bar-container p {
    margin: 20px;
    padding: 10px;
    font-size: 20px;
}

.question-body-content div {
    order: 1;
}

.question-body-content div {
    order: 2;

}

.answer {
    width: 100%;
    margin-left: 15px;
}

.answer > p + p {
    color: #88C1EB;
    font-weight: 400;
    font-size: 0.9rem;
}

.question-body-answers-content  {
    font-size: 25px;
}

.question-body-content-downvote {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    border: none;
    width: 40px;
    height: 50px;
}

.question-body-content-downvote > img {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.question-body-content-downvote > img:hover {
    background-color: #613F3D;
}

.question-body-answers button {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    border: none;
    width: 40px;
    height: 50px;
}

img.single-question-upvote {
    width: 90%;
    height: 90%;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

img.single-question-upvote:hover {
    background-color: #2F5675;
}

a.single-question-delete-a {
    order: 3;
    margin-top: 40px;
}

button.single-question-delete {
    background-color: #293646;
    font-weight: 600;
    color: #DF553D;
    width: 80px;
    height: 40px;
    cursor: pointer;
    margin-left: 20px;
}

button.single-question-delete:hover {
    background-color: #205c8b;
}

button.single-question-answer-delete {
    font-weight: 600;
    color: #293646;
    border: 1px solid black;
    background-color: #DF553D;
    cursor: pointer;
    width: 70px;
    height: 30px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 5px black;
}

button.single-question-answer-delete:hover {
    background-color: #E36B56;
}
